jsonschema==3.2.0
lxml==3.5.0
numpy==1.18.5
pandas==0.24.2
passlib==1.7.4
pip-tools==5.3.1
pycurl==7.43.0
pygobject==3.20.0
PyICU==1.9.2
pyinotify==0.9.6
pyrsistent==0.17.3
python-apt==1.1.0b1+ubuntu0.16.4.9
python-dateutil==2.8.1
python-debian==0.1.27
python-dotenv==0.15.0
python-systemd==231
pytz==2020.4
PyYAML==5.3.1
requests==2.24.0
six==1.10.0
texttable==1.6.3
ufw==0.35
unattended-upgrades==0.1
urllib3==1.25.11
websocket-client==0.57.0
xmljson==0.2.1
zipp==3.4.0